/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End reset styles */

:root {
    font-family: 'Exo 2', sans-serif;
}

* {
    font-family: 'Exo 2', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: blanchedalmond;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 1rem 1rem 1rem;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    height: 10%;
    width: 40%;
    border-radius: 0 0 3rem 3rem;
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0 .2rem .2rem .2rem rgba(255,255,255, .2), 0 0 .8rem .1rem rgba(0, 255, 76);
}

h2 {
    font-size: 3rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color:blanchedalmond;
    background-color: rgba(255, 255, 255, .1);
    height: 60%;
    width: 70;
    box-shadow: 0 .2rem .2rem .2rem rgba(255,255,255, .2), 0 0 .8rem .1rem rgba(0, 255, 76);
}

.form {
    height: 85%;
    width: 100%;
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

form div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

span {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 1rem;
}

form label {
    font-size: 2rem;
}

.outer-password-div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form input {
    background-color: rgba(255, 255, 255, .9);
    border-radius: 1rem;
    padding: 1% 3%;
    font-size: 1.1rem;
    border: none;
}

form input:focus, form input:hover {
    background-color: rgba(255, 255, 255, 1);
}

form input:invalid {
    border: 2px solid red;
}

form input:valid {
    border: 2px solid green;
}

.buttons {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

button {
    border: none;
    border-radius: 1rem;
    width: 20%;
    height: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0), 0 6px 20px 0 rgba(0,0,0);
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(255,255,255, .3), 0 6px 20px 0 rgba(0,0,0);
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
}

a {
    color: antiquewhite;
    text-decoration: none;
    border-radius: 1rem;
}

a:hover {
    box-shadow: 0 8px 16px 0 rgba(255,255,255, .1), 0 6px 20px 0 rgba(0,0,0);
    font-size: 1.6rem;
    border: none;
}
